head, body, footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

header {
  background-color: #ff6b6c;
  font-weight: 700;
}

header h1 {
  color: white;
  line-height: 130px;
  margin-left: 100px;
  font-size: 25px;
}

.menu{
  list-style:none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu li{
  font-size: 20px;
  padding: 10px;
}

.menu li a{
  color:#45b5bc;
  text-decoration:none;
  padding:5px;
}

.menu li a:hover{
  background:#7cb435;
  color:#fff;
  -moz-box-shadow:0 3px 10px 0 #CCC;
  -webkit-box-shadow:0 3px 10px 0 #ccc;
  text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
  top:25px;
  background-color: #45b5bc;
  display:none;
}

.menu{
  display: inline-flex;
  float: right;
}

body {
  justify-content: space-evenly;
  margin: auto;
}

table{
  width: 100%;
  align-items: center;
  text-align: justify;
  line-height: 20px;
}

.conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5eeee;
}


.foto{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.texto{
  display: flex;
  align-items: right;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

i {
  font-style: italic;
}




