head, body, footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

header {
  background: #FF8383;
  padding: 20px 0;
  margin: 0 0 20px 0;
}

header h1 a img {
  width: 220px;
  margin: 0 0 0 40px;
}

.caixa {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.menu-header {
  display: inline-flex;
  position: absolute;
  right: 50px;
  top: 100px;
}

.menu-header a {
  color: #ffffff;
  font-weight: light !important;
  font-size: 30px !important;
  text-decoration: none !important;
  margin: 0 10px 0 10px !important;
}


.menu-header li a:hover {
  color:#7CB435;
  -moz-box-shadow:0 3px 10px 0 #ffffff !important;
  -webkit-box-shadow:0 3px 10px 0 #ffffff !important;
  text-shadow:0px 0px 5px #ffffff !important;
  text-decoration: underline !important;
}

body {
  justify-content: space-evenly;
  margin: auto;
}

table{
  width: 100%;
  align-items: center;
  text-align: justify;
  line-height: 20px;
}

article a{
  color:#7CB435;
  text-decoration: dashed;
  font-size: larger;
}

article a:hover{
  color:#FF8383;
  -moz-box-shadow:0 3px 10px 0 #ffffff;
  -webkit-box-shadow:0 3px 10px 0 #ffffff;
  text-shadow:0px 0px 5px #ffffff;
  text-decoration: underline;
}

.conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5eeee;
}


.foto{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.texto{
  display: flex;
  align-items: right;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}
.lkd img{
  height: 2em;
}
i {
  font-style: italic;
}


footer {
  background: #7CB435;
  width: 100%;
  padding: 20px 0;
  margin: 20px 0 0 0;
  display: inline-flex;
  justify-content: center;
}

footer p {
  font-size: 30px;
}

.formulario {
  margin: 0 0 0 40px;
  color: #ffffff;
}

form label {
  display: block;
  padding: 10px 0 10px 0;
}

.enviar {
  display: block;
  padding: 10px;
  margin: 10px 0 0 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: 2s all;
  cursor: pointer;
}

.enviar:hover {
  background: #FF8383;
  transform: scale(1.2);
}

input, textarea {
  background: #A9D275;
  border: none;
  border-radius: 5px;
}

footer h1 a img {
  width: 150px;
  height: 150px;
  margin: 0 0 0 150px;
}

.meio-rodape {
  display: block;
  margin: 0 200px;
}

.social {
  margin: 40px 0;
  display: inline-flex;
}

.social a img {
  width: 30px;
  height: 30px;
  display: inline-flex;
  padding: 0 30px;
}

.menu-footer li {
  text-align: center;
  padding: 25px 0;
}

.menu-footer li a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  margin: 0 10px 0 10px;
  transition: 1s all;
}

.menu-footer li a:hover {
  color:#FF8383;
  -moz-box-shadow:0 3px 10px 0 #ffffff;
  -webkit-box-shadow:0 3px 10px 0 #ffffff;
  text-shadow:0px 0px 5px #ffffff;
  text-decoration: underline;
}


.quem-somos {
  background-color: #fafafa;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.titulo-vc-sabia {
    text-align: center;
    font-size: 24px;
}

.card-vc-sabia {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  height: 160px;
  transition: all 0.3s ease-out;
}

.card-vc-sabia-infantil {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  height: 260px;
  transition: all 0.3s ease-out;
}

.card-vc-sabia-infantil:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

.card-vc-sabia:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card-vc-sabia-infantil p {
    color: #a3a5ae;
    font-size: 16px;
  }

  .card-vc-sabia-infantil a{
    color:#7CB435;
    text-decoration: dashed;
    font-size: larger;
  }

  .card-vc-sabia-infantil a:hover{
    color:#FF8383;
    -moz-box-shadow:0 3px 10px 0 #ffffff;
    -webkit-box-shadow:0 3px 10px 0 #ffffff;
    text-shadow:0px 0px 5px #ffffff;
    text-decoration: underline;
  }

.card-vc-sabia p {
  color: #a3a5ae;
  font-size: 16px;
}

.image-vc-sabia {
  width: 100%;
  height: 180px;
}


.image-quem-somos {
  float: right;
  width: 160px;
  height: 200px;
}

.card-vc-sabia a{
  color:#7CB435;
  text-decoration: dashed;
  font-size: larger;
}

.card-vc-sabia a:hover{
  color:#FF8383;
  -moz-box-shadow:0 3px 10px 0 #ffffff;
  -webkit-box-shadow:0 3px 10px 0 #ffffff;
  text-shadow:0px 0px 5px #ffffff;
  text-decoration: underline;
}

.infografico{
  height: 80%;
  width: 100%;
}

.container-abuso-infantil, .container-relacionamento-abusivo{
  height: 800px;
  display: flex;
}

.container-relacionamento-abusivo{
  margin-top: 30px;
  background-color: #F6F0A6;
}

.img-relacionamento-abusivo{
  display:  flex;
  justify-content: center;
  align-items: center;
}

.container-cards{
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 80%;
  gap: 25px;
}

.card-topico{
  width: 80%;
  height: 100px;
  border: 2px solid #47403A;
  display:  flex;
  justify-content: center;
  align-items: center;
}

.pink{
  background-color: #FF6A6E
}

.blue{
  background-color: #44B5BB
}

.podcast {
  display:  flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.titulo-relacionamento {
  margin-top: 30px;
}

.infografico-container{
  width: 100%;
  height: 800px;
  background-color: #A5C8DE;
}

.primeira-div-relacionamento, .segunda-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.segunda-div{
  margin-top: 30px;
}

.conteudo-abuso-infantil {
  height: 80%;
  width: 400px;
  padding: 0px 30px 0px 30px;
}

.container-img-relacionamento{
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-div1 {
  width: 250px;
}

#img-div2{
  width: 60%;
}

#img-div3{
  width: 40%;
}

.container-titulo-infantil {
  width: 100%;
  background-color: #7CB435;
  height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
